.back-link {
  display: inline-block;

  padding-bottom: 0.4rem;

  transition: 0.3s ease;

  font-size: 1.6rem;
  color: $grey;
  &:hover {
    color: $off-black;
  }
}

.back-link--large-margin {
  margin: $xs-size 0 0 0;
}
