$header-height: 2 * $xl-size;

header {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $header-height;
}

.header-logo {
  background: $dark-green;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

// todo maybe not bold
.nav__link--active {
  font-weight: bold;
}
