.textarea__container {
  display: flex;
  flex-direction: column;
  margin: $s-size 0 0 0;
}

.textarea {
  border: $border;
  border-radius: $xs-size;
  padding: $xs-size 0.9rem;
  height: 14rem;

  background: $off-white;
  resize: none;
  transition: 0.1s ease;
  color: $off-black;
  line-height: 1.4;

  &:focus {
    border: 0.1rem solid $light-blue;
    border-radius: $xs-size;
    box-shadow: $input-shadow;
    outline: 0;

    background: white;
  }
}
