.new-label {
  .label-form__input {
    background-color: white;
  }

  .label-form__cancel {
    background-color: white;

    &:hover {
      background-color: $extra-light-grey;
    }
  }
}

.new-label__container {
  border-top: $border;
}

.new-label__badge {
  margin: ($s-size + 0.2rem) $s-size $s-size $s-size;
}

.new-label__create {
  order: 1;
}
