.list {
  // width: 50%;
  flex: 1;
}

.list--inventory {
  // height: 100vh;
  // overflow: scroll;
}

// todo temp remove

// .ReactModal__Overlay {
//   opacity: 0;
//   transform: translateX(-100px);
//   transition: all 100ms ease-in-out;
// }

// .ReactModal__Overlay--after-open {
//   opacity: 1;
//   transform: translateX(0px);
// }

// .ReactModal__Overlay--before-close {
//   opacity: 0;
//   transform: translateX(-100px);
// }

// todo temp end

.list--pack {
}

// todo move to category component?
.list-item__image {
  width: 6rem;
  height: 6rem;
}
