$header-height: 2 * $xl-size;

header {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $header-height;
}

.header-logo {
  // todo should be var
  background: #038759;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
