.input {
  border: $border;
  border-radius: $xs-size;
  padding: $xs-size 0.9rem;
  height: $xl-size;

  background: $off-white;
  transition: all 0.1s ease, height 0s;
  color: $off-black;

  &:focus {
    border: 0.1rem solid $light-blue;
    box-shadow: $input-shadow;
    border-radius: $xs-size;
    outline: 0;

    background: white;
  }
}

.input--resizable {
  padding: $xs-size 0.9rem;
  height: auto;
  resize: none;
  line-height: 1.4;
}

.input--grow {
  flex-grow: 1;
}

.input--error {
  border: 0.1rem solid $bright-red;
  box-shadow: 0 0 0 0.1rem $bright-red;

  &:focus {
    border: 0.1rem solid $bright-red;
    box-shadow: 0 0 0 0.1rem $bright-red;
  }
}

.input__error-message {
  padding: 0.3rem 0.3rem 0 0.3rem;
  color: $bright-red;
  font-size: $font-size-small;
}
