.back-link {
  background-color: transparent;
  border: none;
  color: $grey;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0;
  padding-bottom: 0.4rem;
  transition: 0.3s ease;

  &:hover {
    color: $off-black;
  }
}
