@import 'styles/styles.scss';

.back-link {
  color: $grey;
  display: inline-block;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
  transition: 0.3s ease;

  &:hover {
    color: $off-black;
  }
}

.back-link--large-margin {
  margin: $xs-size 0 0 0;
}
