.filters-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

  padding: 2.4rem $m-size 0 $m-size;

  height: $list-filters-height;
  width: 100%;
}
