node_modules/
dist/
.env.development
.env.test
.env.production
# playground/sandbox folder
sandbox/
# Webpack stats
stats.json
# Firebasse hosting cache
.firebase/
# produced by firebase serve
firebase-debug.log
# demo data processing output
src/demo-data/processDemoData.js
src/demo-data/output-data.json
