.dashboard-page {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: $app-width;
  position: absolute;
  right: 0;
  top: $header-height;
}

.dashboard-page--loading {
  height: calc(100% - #{$header-height});
}

.dashboard-page__stacks {
  display: flex;
  // needed for List overflow to work correctly
  height: calc(100vh - #{$header-height} - #{$list-filters-height});
  padding-bottom: $s-size;
  width: 100%;
}
