.labels-page {
  max-width: $labels-width;
  margin: 0 auto;

  // needed for Loader to display correctly when loading demo data
  height: calc(100% - #{$header-height});
}

.labels-page__container {
  width: 100%;

  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}
