.filters-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: $list-filters-height;
  justify-content: flex-start;
  padding: 2.4rem $m-size 0 $m-size;
  width: 100%;
}
