.close-button {
  display: flex;
  align-items: center;

  padding-right: 0.8rem;

  cursor: pointer;
}

.close-button__icon {
  height: $l-size;
  width: $l-size;
  fill: $light-grey;

  &:hover {
    fill: $dark-grey;
  }
  &:active {
    fill: $grey;
  }
}

.close-button--large-margin {
  padding-right: 1.2rem;
}
