.button {
  padding: 0 $s-size 0 $s-size;
  border: none;
  border-radius: $xs-size;

  height: $xl-size;

  font-weight: 500;
  color: white;
  cursor: pointer;

  transition: 0.3s ease;

  &:focus {
    outline: 0;
  }
  &:disabled {
    cursor: default;
  }
}

.button--green {
  border: 0.1rem solid rgba($off-black, 0.4);
  background-color: $dark-green;

  &:hover {
    background-color: darken($dark-green, 5%);
  }
  &:disabled {
    border-color: rgba($off-black, 0.1);
    background-color: rgba($dark-green, 0.5);
  }
}

.button--red {
  border: 0.1rem solid rgba($off-black, 0.4);
  background-color: $bright-red;

  &:hover {
    background-color: darken($bright-red, 5%);
  }
}

.button--grey {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0.1rem solid $light-grey;
  background-color: $off-white;
  color: $off-black;

  &:hover {
    background-color: $extra-light-grey;
  }
  &:disabled {
    color: $mid-grey;
    border-color: $extra-light-grey;
    cursor: default;
    &:hover {
      background-color: $off-white;
    }
  }
}

.button--white {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0 0 0 $l-size;

  transition: background-color 0.3s ease, color 0.3s ease;

  background-color: transparent;
  color: $dark-grey;
  font-weight: normal;

  &:hover {
    color: $off-black;
    background-color: transparent;
  }
  // also change SVG icon fill when hovering over text
  &:hover > svg {
    fill: $off-black;
  }
}

.button--underline {
  display: flex;
  align-items: center;

  margin: 0 $xs-size;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0;
  padding: 0;
  height: 2.5rem;

  background-color: transparent;
  font-size: 1.5rem;

  transition: 0.1s ease;

  &:hover {
    border-bottom: 0.2rem solid white;
  }
  &:disabled {
    border-bottom: 0.2rem solid transparent;
    color: $light-grey;
    cursor: default;
  }
}

.button--underline--active {
  border-bottom: 0.2rem solid white;
}

.button--wide {
  width: 25rem - $s-size * 2;
  margin: 0 $s-size $s-size $s-size;
}

.button--medium {
  margin: 0.4rem 0 0 0;
  padding: 0 $xs-size;
  height: 2.6rem;
}

.button--small {
  margin: 0 0 0.2rem 0.3rem;
  padding: 0;
  height: 1.9rem;

  font-size: $font-size-small;
}
