.demo-data {
  display: flex;
  flex-direction: row;
  position: relative;

  margin-left: $m-size;
  border: 0.2rem solid white;
  border-radius: $xs-size;
  padding: $xs-size;
}

.demo-data__title {
  position: absolute;
  top: -1.2rem;
  left: $xs-size;

  padding: 0 0.6rem;
  background: $dark-green;
}
