// custom font, used in header atm
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  box-sizing: border-box;
}

// needed for overflow scroll to work on Dashboard
html,
body,
#app {
  height: 100%;
  margin: 0;
}

html {
  // conversion to use rem units as if they are pixels (1 rem = 10 px after 62.5% conversion)
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', Helvetica, Arial, sans-serif;
  font-size: $font-size-medium;
  line-height: 1.4;
}

p {
  margin: 0;
}

// input,
button,
submit {
  border: none;
  background: none;
}

button {
  cursor: pointer;
  padding: 0;
}

button:disabled {
  cursor: default;
}

button:focus {
  outline: 0;
}
