// todo remove anything unused

// needed for overflow scroll to work on Dashboard
html,
body,
#app {
  height: 100%;
  margin: 0;
}

html {
  // conversion to use rem units as if they are pixels (1 rem = 10 px after 62.5% conversion)
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: $font-size-medium;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

// input,
button,
submit {
  border: none;
  background: none;
}

button:focus {
  outline: 0;
}
