// todo remove anything unused

* {
  box-sizing: border-box;
}

// needed for overflow scroll to work on Dashboard
html,
body,
#app {
  height: 100%;
  margin: 0;
  // background-color: $brown;
}

html {
  // conversion to use rem units as if they are pixels (1 rem = 10 px after 62.5% conversion)
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
