// Colors
// for backgrounds and hovers
$off-white: #f6f6f6;
// for actives
$extra-light-grey: #e9e9e9;
// dark grey used for text color
$dark-grey: #333;
// including for borders
$light-grey: #ccc;
// useful for border hovers
$mid-grey: #aaa;
// delete buttons etc
$bright-red: #e20000;

// todo this is ugly, see #270
// re-assign variables imported from Color.ts in WebPack -- needed to get color Intellisense in SCSS
$light-blue: $light-blue-shared;
$blue: $blue-shared;
$red: $red-shared;
$orange: $orange-shared;
$yellow: $yellow-shared;
$purple: $purple-shared;
$green: $green-shared;
$dark-green: $dark-green-shared;
$brown: $brown-shared;
$dark-blue: $dark-blue-shared;
// 666
$grey: $grey-shared;

// for shadows
$shadow: 0 0.7rem 2rem rgba($grey, 0.2);
$border: 0.1rem $light-grey solid;

// Spacing
$xs-size: 0.6rem;
$s-size: 1.3rem;
$m-size: 1.4rem;
$l-size: 1.8rem;
$xl-size: 3.3rem;
$desktop-breakpoint: 45rem;

// todo maybe rethink this
$header-height: 2 * $xl-size;
$list-filters-height: 2 * $xl-size;

// Font sizes
$font-size-small: $s-size;
$font-size-medium: $m-size;
$font-size-large: 1.8rem;

// export variables to use in TS for styling selects
:export {
  xsSize: $xs-size;
  sSize: $s-size;
  lSize: $l-size;
  xlSize: $xl-size;
  fontSizeSmall: $s-size;
  offWhite: $off-white;
  extraLightGrey: $extra-light-grey;
  lightGrey: $light-grey;
  grey: $grey;
  midGrey: $mid-grey;
  darkGrey: $dark-grey;
  lightBlue: $light-blue;
  border: $border;
}
