// todo remove anything unused
// Colors
$dark-grey: #333;
$off-white: #f7f7f7;

// re-assign shared variables passed with additionalData
// this is needed to get color Intellisense in SCSS
$light-blue: $light-blue-shared;
$blue: $blue-shared;
$red: $red-shared;
$orange: $orange-shared;
$yellow: $yellow-shared;
$purple: $purple-shared;
$green: $green-shared;
$dark-green: $dark-green-shared;
$brown: $brown-shared;
$dark-blue: $dark-blue-shared;
$grey: $grey-shared;

// Font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
