.list {
  overflow-y: auto;
  padding: 0 0.5rem 0 $stack-margin-size;
  // right margin to support the nice scrollbar
  margin-right: $stack-margin-size / 2;
  margin-bottom: $stack-margin-size;

  // custom scrollbar for Blink and Webkit
  // inspired by Trello and this: https://gist.github.com/spemer/a0e218bbb45433bd611e68446523a00b
  &::-webkit-scrollbar {
    width: 0.7rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.6rem;
    background: $extra-light-grey;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    min-height: 5rem;
    background-color: $light-grey;

    &:hover {
      background-color: $mid-grey;
    }
  }

  // scrollbars for Firefox on Windows/Linux -- less fancy as FF has limited styling support
  scrollbar-width: thin;
  scrollbar-color: $light-grey $extra-light-grey;
}

// scrollbar for Firefox on Mac
.list--firefox-mac {
  scrollbar-width: auto;
  margin-right: 0;
  padding-right: $stack-margin-size;
}

.list--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  height: 11rem;
}
