@import './settings';

// These are in a separate file to prevent sass-resources-loader appending exports several times.
// Needed to prevent duplicate code in bundle CSS when building for production.
:export {
  blue: $blue;
  border: $border;
  brown: $brown;
  darkBlue: $dark-blue;
  darkGreen: $dark-green;
  extraLightGrey: $extra-light-grey;
  fontSizeSmall: $s-size;
  green: $green;
  grey: $grey;
  inputShadow: $input-shadow;
  lSize: $l-size;
  lightBlue: $light-blue;
  lightGrey: $light-grey;
  midGrey: $mid-grey;
  offBlack: $off-black;
  offWhite: $off-white;
  orange: $orange;
  purple: $purple;
  red: $red;
  sSize: $s-size;
  xlSize: $xl-size;
  xsSize: $xs-size;
  yellow: $yellow;
}
