// Mixin that is used by Input, ExpandingInput and TextArea.
@mixin editable-text-control {
  background: $off-white;
  border: $border;
  border-radius: $xs-size;
  color: $off-black;
  height: $xl-size;
  line-height: 1.4;
  padding: $xs-size 0.9rem;
  resize: none;
  transition: all 0.1s ease, height 0s;

  &:focus {
    background: white;
    border: 0.1rem solid $light-blue;
    border-radius: $xs-size;
    box-shadow: $input-shadow;
    outline: 0;
  }

  &::placeholder {
    color: $grey;
    opacity: 1;
  }
}

@mixin input-error {
  border: 0.1rem solid $bright-red;
  box-shadow: 0 0 0 0.1rem $bright-red;

  &:focus {
    border: 0.1rem solid $bright-red;
    box-shadow: 0 0 0 0.1rem $bright-red;
  }
}
