// main app colors, used for labels
$light-blue: #00bdfe;
$grey: #666666;
$blue: #0052cc;
$red: #ff5630;
$orange: #f89228;
$yellow: #ecb500;
$purple: #de67b6;
$green: #5dbf08;
$dark-green: #068c06;
$brown: #7c4a35;
$dark-blue: #253858;

// additional colors
$off-white: #f6f6f6;
$extra-light-grey: #e9e9e9;
$off-black: #333;
// e.g. for borders
$light-grey: #ccc;
$mid-grey: #aaa;
// delete buttons etc
$bright-red: #e20000;
// remove from pack
$dark-red: #ca1e2d;

// shadows & borders
$shadow: 0 0.7rem 2rem rgba($grey, 0.2);
$border: 0.1rem $light-grey solid;
$input-shadow: 0 0 0 0.1rem $light-blue;

// sizing
$xs-size: 0.6rem;
$s-size: 1.3rem;
$m-size: 1.4rem;
$l-size: 1.8rem;
$xl-size: 3.3rem;
// margin between header elements
$margin-header: 2rem;
// Dashboard stacks and related
$stack-margin-size: 1rem;
// general (maximum) app width
$app-width: 85rem;
// labels page (maximum) width, potentially to be used on other pages like Dashboard
$labels-width: 65rem;
// both used in Dashboard List height calculation
$header-height: 2 * $xl-size;
$list-filters-height: 2 * $xl-size + 1.5rem;

// Font sizes
$font-size-small: $s-size;
$font-size-medium: $m-size;
// used on login page
$font-size-large: 1.8rem;
