.popover-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.1rem solid $light-grey;
  padding-left: $m-size;
  height: $xl-size;
}

.popover-header__text {
  font-size: $font-size-small;
}
