.item-form {
  display: flex;
  flex-direction: column;
}

.item-form__horizontal-container {
  display: flex;
}

.item-form__half-width {
  width: 50%;
  margin-right: 0;
  margin-left: 0;

  &:nth-child(1) {
    margin-right: $xs-size;
  }
  &:nth-child(2) {
    margin-left: $xs-size;
  }
}
