.item-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $s-size;

  padding-top: $s-size;
}

.item-form__full-width {
  grid-column: 1 / span 2;
}

.item-form__notes {
  // small negative top margin to compensate for LabelBadge's bottom margin
  margin-top: -0.3rem;
  margin-bottom: 0.9rem;
}

.item-form__button {
  margin: 0 0 0.2rem 0.3rem;
  padding: 0;
  height: 1.9rem;

  font-size: $font-size-small;
}

.item-form__category {
  margin-left: $xs-size;
}

.item-form__align-start {
  align-items: flex-start;
}
