// adapted from https://css-tricks.com/making-css-animations-feel-natural/

.loader-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  // prevent scrollbar from showing when header and filters are shown (i.e.e when loading demo data)
  height: calc(100% - #{$header-height} - 1.5rem);
  justify-content: center;
  width: 100%;
}

.loader-container--full-height {
  // full height when not showing header/filters
  height: 100%;
}

.loader {
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-name: loader-bounce;
  animation-timing-function: ease;
  background-image: url('#{$gcp-storage-url}/mountain.svg');
  height: 8rem;

  // slightly better positioning with negative margin
  margin-top: -2.5%;
  transform-origin: bottom;
  width: 8rem;
}

.loader--center {
  margin-top: 0;
}

@keyframes loader-bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  14% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  42% {
    transform: scale(0.9, 1.1) translateY(-4rem);
  }

  70% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  80% {
    transform: scale(1, 1) translateY(-0.7rem);
  }

  90% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}
