.button {
  margin: 0 $xs-size 0 $xs-size;
  padding: 0 $s-size 0 $s-size;
  border: none;
  border-radius: $xs-size;

  height: $xl-size;

  font-weight: 500;
  color: white;
  cursor: pointer;

  transition: 0.3s;

  &:focus {
    outline: 0;
  }
}

.button--green {
  border: 0.1rem solid rgba($off-black, 0.4);
  background-color: rgba($dark-green, 0.8);
  &:hover {
    background-color: $dark-green;
  }
}

.button--red {
  border: 0.1rem solid rgba($off-black, 0.4);
  background-color: rgba($bright-red, 0.8);

  &:hover {
    background-color: $bright-red;
  }
}

.button--grey {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0.1rem solid $light-grey;
  background-color: $off-white;
  color: $off-black;

  &:hover {
    background-color: $extra-light-grey;
  }
  &:disabled {
    color: $mid-grey;
    cursor: default;
    &:hover {
      background: $off-white;
    }
  }
}

.button--grey__icon {
  margin-right: 0.3rem;

  height: 1.8rem;
  width: 1.8rem;

  fill: $off-black;
  transition: 0.3s;
}

.button--grey__icon--disabled {
  fill: $mid-grey;
}

.button--white {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  background-color: transparent;
  color: $dark-grey;
  font-weight: normal;

  &:hover {
    color: $off-black;
    background-color: transparent;
  }
  // also change SVG fill when hovering over text
  &:hover > .button--white__icon {
    fill: $off-black;
  }
}

.button--white__icon {
  height: 1.6rem;
  width: 1.6rem;

  fill: $dark-grey;
  transition: 0.3s;

  &:hover {
    fill: $off-black;
  }
}

.button--underline {
  border-bottom: 0.2rem solid transparent;
  border-radius: 0;
  padding: 0;
  height: 2.5rem;

  background-color: transparent;
  font-size: 1.5rem;

  transition: 0.1s;

  &:hover {
    border-bottom: 0.2rem solid white;
  }
  &:disabled {
    border-bottom: 0.2rem solid transparent;
    color: $light-grey;
    cursor: default;
  }
}

.button--underline--active {
  border-bottom: 0.2rem solid white;
}

.button--red-text {
  color: $dark-red;
}

.button--wide {
  width: 25rem - $s-size * 2;
  margin: 0 $s-size $s-size $s-size;
}

.button--no-margin {
  margin: 0;
}

.button--medium {
  padding-left: 0.3rem;
  font-size: $font-size-small;
}

.button--small {
  margin: 0.4rem 0 0 0;
  padding: 0 $xs-size;
  height: 2.6rem;
}

.button--extra-small {
  margin: 0;
  padding: 0;
  height: 2rem;
  width: 2rem;

  &:nth-child(1) {
    margin-left: $xs-size;
  }
}

// extra styling for React router Links and NavLinks
.button--link {
  display: flex;
  align-items: center;
  // justify-content: center;

  // color: white;
  text-decoration: none;
}
