.login-page {
  align-items: center;
  animation: fade-in 0.3 ease-in;
  background: $off-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  opacity: 1;
  position: relative;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-page__title {
  color: $dark-green;
  font-family: 'Righteous', cursive;
  font-size: 7rem;
  line-height: 6rem;
  margin-bottom: $l-size;
  text-decoration: none;
}

.login-page__slogan {
  font-size: $font-size-large;
  margin-bottom: $l-size;
  text-align: center;
  width: 35rem;
}

.login-page__button {
  text-align: start !important;
  width: 20rem !important;
}

.login-page__policies {
  color: $grey;
  margin-top: 4rem;
  transition: 0.3s ease;

  &:hover {
    color: $off-black;
  }
}

.login-page__github-link {
  align-items: center;
  bottom: $s-size;
  display: flex;
  font-size: 1.5rem;
  position: absolute;
  right: $s-size;
  text-decoration: none;

  &:hover .login-page__github-link__text {
    max-width: 12rem;
    opacity: 1;
    transform: translateX(0%);
  }
  &:hover .login-page__github-link__icon {
    animation: rotate-3d-reverse 0.5s linear forwards;
  }
}

.login-page__github-link__text {
  color: $off-black;
  margin-right: 0.3rem;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateX(100%);
  transition: 0.5s ease;
  white-space: nowrap;
}

.login-page__github-link__icon {
  // forwards makes animation stay on the last frame at the end
  animation: rotate-3d 0.5s linear forwards;
  background-color: $off-white;
  height: 5rem;
  width: 5rem;
  z-index: 10;

  path {
    fill: $off-black;
    transition: 0.3s ease;
  }
}

@keyframes rotate-3d {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

@keyframes rotate-3d-reverse {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
