.label-form {
  display: flex;
  flex-direction: column;

  margin: 0 $s-size $s-size $s-size;
}

.label-form__buttons {
  align-items: flex-end;
  justify-content: space-between;
  margin-top: $s-size;
}

.label-form__input {
  flex-grow: 1;
}

.label-form__input__label,
.label-form__input__error {
  width: max-content;
}

.label-form__cancel {
  order: 1;
  margin-right: $s-size;
  margin-left: auto;
}
