.pack-item__remove {
  color: $dark-red;
}

.pack-item__quantity {
  min-width: 2.5rem;
  text-align: center;
}

.pack-item__quantity--button {
  height: 2rem;
  margin: 0;
  padding: 0;
  width: 2rem;

  &:nth-child(1) {
    margin-left: $xs-size;
  }
}

.pack-item__button-icon {
  fill: $off-black;
  height: 1.8rem;
  margin-right: 0.3rem;
  transition: 0.3s ease;
  width: 1.8rem;
}
