.modal__overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0px;

  // for scrolling
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  // todo color should be darker?
  background-color: rgba($off-white, 0.75);
}

// technical div, for scrolling
.modal__container {
  position: relative;
  margin: auto;

  outline: none;
}

.modal {
  margin: $s-size;

  border: $border;
  border-radius: $xs-size;
  padding: $s-size;

  // todo maybe set to Stack width?
  width: 40rem;

  background: white;
}
