@import 'styles/styles.scss';

.inventory-item__button-icon {
  fill: $off-black;
  height: 1.8rem;
  margin-right: 0.3rem;
  transition: 0.3s ease;
  width: 1.8rem;
}

.inventory-item__button-icon__disabled {
  fill: $mid-grey;
}
