.close-button {
  display: flex;
  align-items: center;

  border: none;
  padding-right: 1.2rem;

  background: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.close-button__icon {
  height: $l-size;
  width: $l-size;
  fill: $mid-grey;

  transition: fill 0.3s ease;

  &:hover {
    fill: $off-black;
  }
  &:active {
    fill: $grey;
  }
}

.close-button--small-padding {
  padding-right: 0.8rem;
}

.close-button--large {
  margin-top: -0.3rem;
  margin-right: -0.3rem;
  padding: 0;

  // a bit of a hack
  > .close-button__icon {
    height: 2.2rem;
    width: 2.2rem;
  }
}
