.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  // needed for Loader to display correctly
  height: calc(100% - #{$header-height});
}

.dashboard-page__stacks {
  display: flex;

  padding-bottom: $s-size;
  width: 100%;
  max-width: $app-width;
  // needed for List overflow to work correctly
  height: calc(100vh - #{$header-height} - #{$list-filters-height});
}
