.dashboard-page {
  max-width: $app-width;
  margin: 0 auto;

  // needed for Loader to display correctly
  height: calc(100% - #{$header-height});

  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard-page__stacks {
  display: flex;

  padding-bottom: $s-size;
  width: 100%;
  // needed for List overflow to work correctly
  height: calc(100vh - #{$header-height} - #{$list-filters-height});
}
