.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  // todo handle heights properly
  height: $header-height;

  background-color: $dark-green;

  color: white;
}

.header__title {
  margin-left: 1.7rem;
  // margin: $s-size $s-size $s-size 1.7rem;

  color: white;
  font-family: 'Righteous', cursive;
  font-size: 4.1rem;
  text-decoration: none;
}

.header__nav {
  display: flex;
  flex-direction: row;

  margin-left: $xl-size;
}
