.header__container {
  background: $dark-green;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  height: $header-height;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $app-width;
  width: 100%;
}

.header__logo__link {
  height: 3.5rem;
  margin-left: 1.7rem;
  width: 3.5rem;
}

.header__logo {
  & path {
    fill: white;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  margin-left: $m-size;
}

.header__nav__link {
  color: white;
  display: flex;
  text-decoration: none;
}

.header__nav__link__icon {
  fill: white;
  margin-right: 0.3rem;
}

.header__nav__link__text {
  display: flex;
  margin-bottom: 0.2rem;
}
