.header__container {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;

  background: $dark-green;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;

  height: $header-height;
  width: 100%;
  max-width: $app-width;

  color: white;
}

.header__title {
  margin-left: 1.7rem;

  color: white;
  font-family: 'Righteous', cursive;
  font-size: 4.1rem;
  text-decoration: none;
}

.header__nav {
  display: flex;
  flex-direction: row;

  margin-left: $margin-header;
}

.header__nav__link {
  display: flex;
  color: white;
  text-decoration: none;
}

.header__nav__link__icon {
  margin-right: 0.3rem;
  fill: white;
}

.header__nav__link__text {
  display: flex;
  margin-bottom: 0.2rem;
}
