.list {
  background-color: $off-white;
  border: $border;
  border-radius: $xs-size;
  display: flex;
  flex-direction: column;
  margin: 0 $s-size $s-size $s-size;
  overflow: hidden;
}

.list--empty {
  align-items: center;
  display: flex;
  height: 11rem;
  justify-content: center;
}

.list--empty--border {
  border-top: $border;
}
