.list {
  display: flex;
  flex-direction: column;

  margin: 0 $s-size $s-size $s-size;
  border: $border;
  border-radius: $xs-size;

  background-color: $off-white;
}

.list--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  height: 11rem;
}
