.input {
  @include editable-text-control;
}

.input--error {
  border: 0.1rem solid $bright-red;
  box-shadow: 0 0 0 0.1rem $bright-red;

  &:focus {
    border: 0.1rem solid $bright-red;
    box-shadow: 0 0 0 0.1rem $bright-red;
  }
}

.input--grow {
  flex-grow: 1;
}

.input--search {
  background: $off-white url('../../../../images/icons/search.svg') no-repeat 0.6rem center;
  padding-left: 3rem;

  &:focus {
    background: white url('../../../../images/icons/search.svg') no-repeat 0.6rem center;
  }
}
