.account-details__photo {
  display: block;
  grid-row: 1 / span 2;

  border-radius: 50%;
  margin: $xs-size 0;

  height: 4.1rem;
  width: 4.1rem;
  min-width: 4.1rem;

  overflow: hidden;
}

.account-details__photo--toggle {
  margin: 0 $m-size 0 auto;
  border: 0.3rem solid transparent;

  cursor: pointer;
  &:hover {
    // works well with non-100% zoom levels
    background-color: rgba($light-grey, 0.4);
  }
}

.account-details__content {
  display: grid;
  grid-template: repeat(4, auto) / 4.1rem auto;
}

.account-details__name {
  align-self: end;
  margin-left: 1rem;

  overflow-wrap: anywhere;
  hyphens: auto;
}

.account-details__email {
  align-self: start;
  margin-left: 1rem;

  overflow-wrap: anywhere;
  color: $grey;
  font-size: $font-size-small;
}

.account-details__policies {
  grid-column: 1 / span 2;
  justify-self: end;

  color: $grey;
  font-size: $font-size-small;
  font-style: italic;

  transition: 0.3s ease;

  &:hover {
    color: $off-black;
  }
}

.account-details__sign-out {
  grid-column: 1 / span 2;
  margin-top: $s-size;
}
