@import 'styles/styles.scss';

.item-details {
  background: white;
  border: $border;
  border-radius: $xs-size;
  color: $grey;
  font-size: $font-size-small;
  margin-bottom: $stack-margin-size;
  overflow-wrap: anywhere;
  padding: $xs-size $stack-margin-size $stack-margin-size $stack-margin-size;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.item-details__category-image {
  // use absolute positioning as it gives better results with svg here
  // TODO: but potentially need to make all SVGs appear more or less the same size, see #373
  position: absolute;
  right: $stack-margin-size;
}

.item-details--image-margin {
  // to account for absolutely positioned images, see item-details__category-image above
  margin-right: 4.5rem;
}

.item-details__name {
  color: $off-black;
  font-size: 1.5rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.item-details__category {
  // also change category icon fill on hover
  &:hover .item-details__category-icon {
    fill: $off-black;
  }
}

.item-details__category-icon__container {
  align-items: center;
  display: inline-flex;
  margin-right: 0.2rem;
}

.item-details__category-icon {
  fill: $grey;
  height: $s-size;
  margin-right: 0;
  transition: 0.3s ease;
  width: $s-size;
}

.item-details__label-list {
  margin-top: 0.5rem;
}
