.modal__overlay {
  align-items: center;
  background-color: rgba(black, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: scroll;
  position: fixed;
  top: 0px;
  // for scrolling
  width: 100%;
  z-index: 20;
}

// technical div, for scrolling
.modal__container {
  margin: auto;
  outline: none;
  position: relative;
}

.modal {
  background: white;
  border: $border;
  border-radius: $xs-size;
  margin: $s-size;
  padding: $s-size;
  // to match Stack width
  width: 40.5rem;
}
